# trunk-ignore-all(prettier)
name: Use Input with Action
on:
    workflow_dispatch:
        inputs:
            message:
                description: Message to print
                required: true
                type: string
jobs:
    print:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/github-script@v7
              with:
                script: |
                    # trunk-ignore(actionlint/action)
                    # trunk-ignore(actionlint/syntax-check)
                    core.info("Message: " + `${{ github.event.inputs.message }}`)