name: Basic Input Practice
on:
    workflow_dispatch:
        inputs:
            username:
                description: Enter Your Name
                required: true
                type: string
jobs:
    greet:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello ${{ github.event.inputs.username }}!"
